

*, *::before, *::after {
  box-sizing: border-box;
}

* {
    margin: 0;
}
  

body {
    font-family: Arial;
    font-size: 16px;

    background-color: pink;
    background-image: url(tf2.png);
/*    background-size: cover;*/
    background-size: 100%;
    background-repeat: no-repeat;
}

main {
    margin-top: 20px;
    display: grid;
    place-items: center;
    padding-left: 15%;
    padding-right: 15%;
}

p{
    padding-bottom: 10px;
}

.content {
    width: 50%;

    border: 3px solid rgb(64, 63, 66);

    background-color: rgb(64, 63, 66);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    width: 100%;
    min-height: 100%;
    border: 3px;
    border-color: rgb(64, 63, 66);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    box-sizing: border-box;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img {
    max-width: 100%;
    height: auto;
    padding-left: 0%;
    padding-right: 0%;
    margin: auto;
    display: block;
}

.main {
    font-size: 16px;
}

.main img {
    max-width: 100%;
    height: auto;
    padding-left: 0%;
    padding-right: 0%;
    margin: auto;
    display: block;
}

footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(64, 63, 66);
    color: white;
    height: 100px;
}